body {
    min-width: 375px;
}

.product-tabs {
    background: #F7F7F7;
}

.product-tabs-content {
    max-width: 1240px;
    white-space: normal;
    padding: 80px 20px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.product-item-wrapper {
    display: none;
    justify-content: center;
}

.product {
    max-width: 25%;
    padding: 30px 35px 25px 35px;
    border-right: 1px dashed rgba(123, 107, 93, .15);
}

.product:last-of-type {
    border-right: none;
}

.title {
    font-family: Europa-Title Bold;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    color: #100f0f;
    margin: 0;
    margin-top: 5px;
}

.sub-title {
    font-family: Europa-Title Bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #ec1d25;
}

.text-area {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.tabs-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

.tab {
    display: block;
    padding: 7px 15px;
    border: 1px solid #363534;
    border-radius: 70px;
    white-space: nowrap;
    font-size: 15px;
    line-height: 22px;
    font-family: Europa Regular;
    color: #363534;
    transition: all .3s ease-in-out;
}

.tab:hover {
    transition: all .3s ease-in-out;
    background-color: #363534;
    color: #fff;
}

.tab-active {
    transition: all .3s ease-in-out;
    background-color: #363534;
    color: #fff;
}

.active {
    display: flex;
}

.image-container {
    display: flex;
    justify-content: center;
}

.country-line {
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.country-line>span {
    font-family: Europa-Title Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #BDBDBD;
}

.rating-line {
    display: flex;
    gap: 5px;
}

.rating {
    max-width: 120px;
    align-self: center;
    font-family: Europa Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #999999;
}

.text-container>h3 {
    margin: 0;
    font-family: Europa Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    padding-bottom: 7px;
}

.text-container>h2 {
    margin: 0;
    font-family: Europa-Title Bold !important;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}

.image-container>img {
    min-width: 147.5px;
    max-width: 100%;
    max-height: 100%;
}

/* Slider start */
.swiper {
    width: 600px;
    height: 300px;
}

.tabs-area {
    align-self: auto;
}

.swiper-wrapper {
    width: auto !important;
}

.swiper-slide {
    width: auto !important;
}

/* Adaptive start */
@media screen and (max-width: 992px) {

    .product-tabs-content {
        padding: 80px 20px 50px 20px;
    }

    .product-header {
        text-align: center;
        flex-direction: column;
    }

    .tabs-area {
        justify-content: center;
    }

    .product {
        padding: 20px;
        min-width: 167.5px;
    }

    .text-container>h3 {
        font-size: 16px;
    }

    .text-container>h2 {
        font-size: 22px;
        line-height: 22px;
    }

    .text-area {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {

    .product {
        padding: 20px 20px 20px 0px;
        border-top: 1px dashed rgba(123, 107, 93, .15);
    }

    .product:nth-child(-n + 2) {
        padding-bottom: 20px;
        border-top: none;
    }

    .product:nth-child(2) {
        padding-right: 0px;
        padding-left: 20px;
        border-right: none;
    }

    .product:last-of-type {
        padding-right: 0px;
        padding-left: 20px;
    }

    .product-item-wrapper {
        flex-wrap: wrap;
    }

    .product {
        min-width: 165.5px;
        max-width: 50%;
    }

}

@media screen and (max-width: 578px) {

    .tabs-area {
        align-self: baseline;
    }

    .title {
        font-size: 28px;
        line-height: 35px;
    }

    .sub-title {
        font-size: 16px;
        line-height: 22px;
    }

    .tabs-area {
        width: 100%;
        justify-content: left;
    }

    .product-tabs-content {
        padding-top: 50px;
    }
}